$color_1: #ff8000;
$color_2: #2e5f64;

#primero {
  > .destacado {
    color: $color_1;
    font-size: 1.6rem;
    text-align: center;
    padding: 6px;
  }
}
#segundo {
  > .destacado {
    color: $color_2;
    text-decoration: underline;
    padding: 5px;
  }
}
p {
  &:not(.destacado) {
    &::first-line {
      font-style: italic;
    }
  }
}
div {
  padding: 20px;
}
div#parrafos {
  text-align: right;
}
