<%- include('cabecera');%>
<h1>Lista de Tareas</h1>

<% if(tareas.length = 0){ %>
    <p>No hay tareas pendientes</p>
<%} else{ %>
<ul>
    <% tarea.forEach(tarea => { %>
        <li>
            <h5>Una tarea</h5>
        </li>
    <%})%>
</ul>
<% } %>
<%- include('pie'); %>