doctype html 
html 
    head 
        title Curriculum Vitae 
    
    body 
        include includes/nav.pug

        -let name = "Edison";

        p Welcome #{name} !

        - const greetings = ["How", "are", "you", "?"];

        each n, i in greetings 
            p= n