@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CARRERAS BY EDISON</h1>
    <h2>Introducir datos: </h2> <br/>
    
    @using (Html.BeginForm("Index", "Home", FormMethod.Post,
    new { enctype = "multipart/form-data " }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" name="Importar" />
    }
</div>
