@model IEnumerable<Competencias.Models.Participantes>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CARRERAS BY EDISON</h1>
    <br />
    <a href="/Home/Alta"><button>ALTA PARTICIPANTES</button></a>
    <a href="/Home/Importar"><button>IMPORTAR</button></a>

    <table class="table">
        <tr>
            <th>Dorsal</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Club</th>
        </tr>
        @foreach (var participante in Model)
        {
            <tr>
                <td>@participante.Dorsal</td>
                <td>@participante.Nombre</td>
                <td>@participante.Apellidos</td>
                <td>@participante.Club</td>
                <td> 
                    <a href="/Home/Editar?IdParticipantes=@participante.IdParticipantes">Editar</a> |
                    <a href="/Home/Delete?IdParticipantes=@participante.IdParticipantes">Borrar</a>
                </td>
            </tr>
        }
    </table>

</div>
