h1 Curriculum Vitae 

nav 

    a(href = "#") Informacion personal
    br
    a(href = "#") Estudios
    br
    a(href = "#") Experiencia
    br
    a(href = "#") Idiomas
    br
    a(href = "#") Contacto