<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/estilos.css" rel="stylesheet">
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/publc/js/app.js"></script>
        
    </head>
    <div class="container">
        <div id="cabecera">
            <div id="titulo">
                <div id="logo"><img src="/public/imgs/carreras_logo.png" /></div>
                <div id="textotitulo">Participantes inscritos</div>
            </div>
            <a class="btn btn-secondary" href="/participantes">Listar participantes</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/nuevo_participante">Nuevo Participante</a>&nbsp;&nbsp;&nbsp;        
            <a class="btn btn-secondary" href="/nueva_categoria">Nueva categoría</a>&nbsp;&nbsp;&nbsp;        
           
        </div>            
