doctype html 
html 
    head 
        title Curriculum Vitae 
        meta(charset="utf-")
    body 
        header
            include includes/nav.pug
        main 
            form(name="datos", method="GET", action="process.php")
                fieldset
                    legend DATOS PERSONALES

                    p  
                        label Nombre:
                        Edison Alcocer Valencia